<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>

    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sgbd1</property>-->
<!--        <property name="hibernate.connection.username">postgres</property>-->
<!--        <property name="hibernate.connection.password">postgres</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
        <property name="hibernate.connection.provider_class">
            org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>

        <property name="hibernate.hikari.jdbcUrl">
            jdbc:postgresql://localhost:5432/sgbd1
        </property>

        <property name="hibernate.hikari.username">postgres</property>
        <property name="hibernate.hikari.password">postgres</property>

        <property name="hibernate.hikari.maximumPoolSize">10</property>



    </session-factory>

</hibernate-configuration>